/**
 * The markdown on the left side doesn't look very aesthetic。
 *
 * Let's make some modifications.
 */
#work-text {
  max-height: 94.5%;
}

#work-text.flipped {
  -webkit-transform: rotateX(0deg) rotateY(190deg) rotateZ(180deg);
}

#work-text .md {
  -webkit-transform: rotateY(190deg) rotateZ(180deg);
  margin-top: 1200px;
}

/**
 * This is the moment of witnessing a miracle：
 *
 * 3。
 * 2。
 * 1。
 *
 * 。
 * I'm just joking, there's nothing there~
 *
 * Okay, actually there is, it's here
 *
 */
