/**
 *
 * Hi, I'm Way。
 *
 * I like to tinker with interesting things.
 *
 * Living Coding？
 */

/**
 * let's get started. First, let's get everything moving~
 */

* {
  -webkit-transition: all 1s;
}

/**
 * It seems like you are saying that something may seem useless at first, but not to worry because the effect will be seen soon.
 *
 * Black and white color scheme is too boring and I want to make some changes.
 */

html {
  background: rgb(63, 82, 99);
}

/***
 * Wait...
 */

pre, a {
  color: white;
  box-sizing: border-box;

}

/**
 * It looks much better now, but it's a bit too bright and flashy.
 *
 * In addition, using the entire screen to write code is a bit wasteful in terms of space
 *
 * Don't worry, let me do some optimization.
 */

pre:not(:empty) {
  overflow: auto;
  background: rgb(48, 48, 48);
  border: 1px solid #ccc;
  max-height: 44.6%;
  width: 49%;
  font-size: 14px;
  font-family: monospace;
  padding: 10px 10px 20px;
  box-shadow: -4px 4px 2px 0 rgba(0,0,0,0.3);
  white-space: pre-wrap;
  outline: 0;
  position: absolute;
}

/**
 * Next, we'll move it to the right side of the screen.
 */

#style-text {
  -webkit-transform: translateX(95%);
  position: absolute;
}

/**
 * It looks good, but all the font colors are white!
 *
 * So, let's make the code more readable~
 */

.comment       { color: #857F6B; font-style: italic; }
.selector      { color: #E69F0F; }
.selector .key { color: #64D5EA; }
.key           { color: #64D5EA; }
.value         { color: #BE84F2; }
.value.px      { color: #F92772; }

/**
 * Now we have made some progress.
 *
 * Let's make it more three-dimensional and full.
 */

body {
  -webkit-perspective: 1000px;
}

#style-text {
  -webkit-transform: translateX(98.5%) rotateY(-10deg);
  -webkit-transform-origin: right;
  max-height: 94.5%;
}

/**
 * Okay, that's about it. Next, let's talk about myself。
 *
 * I believe you probably didn't come here to see my flashy skills？
 */

pre:not(#style-text) {
  -webkit-transform: rotateY(10deg);
  -webkit-transform-origin: left;
}
/**/

