
/**
 * The text can be adjusted appropriately.
 */

.md {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.md h1, .md h2, .md h3, .md h4, .md h5, .md h6 {
  display: inline-block;
  color: #ddd;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

.md li {
  margin: 5px 0;
  line-height: 1.5;
}

.md h1, .md h2, .md h3, .md h4, .md h5, .md h6, .md ul, .md p {
  margin: 0;
}


/**
 * It's just about the last bit to finish.
 */

pre:hover{
  box-shadow: 0 0 40px 5px rgba(255,255,255,0.4);
}

/**
 * Wish you like it ，this idea was inspired by a foreign genius，
 * "I found the idea very interesting, and also used React, Hooks, and TypeScript to refactor it
 * If think it not bad，can contact with me~，ღ( ´･ᴗ･` )
 */


